@import "../_partials/fonts";
body{
  font-family: Roboto;
}
.light-login{
  background-color: transparent;
  background-image: none;
}
.navbar{
  .navbar-nav {
    li {
      a {
        padding-top: 0;
      }
    }
  }
}
.login-box{
  .toolbar{
    div{
      float:none !important;
      display: block;
      text-align: center !important;
      width:100%;
      color:#fff;
    }
  }
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);

  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}
.table{
  overflow: hidden;
}
.gritter-item{
  font-family: Roboto;
}
.chosen-choices{
  min-height: 34px;
}
.checkbox {
  label{
    padding-left: 10px;
  }
}
.editor-wrapper{
  textarea{
    display: none;
  }
}
.modal-body{
  .ace-file-multiple .ace-file-container:before{
    margin: 7px !important;
    margin-bottom: 0 !important;
  }
}
.help-block{
  small{
    color:#ff0000;
  }
}
.has-error{
  border-color: #ff0000 !important;
  label{
    color:#ff0000;
  }
}
.main-tbl{
    td:last-child{
      width: 10%;
    }
}

.tabbable{
  .nav-tabs{
    width: 99.9%;
    li{
      width:50%;
      text-align: center;
    }
  }
}
