.table-condensed {
  td:first-child,td:last-child {
    width: 20%;
  }
  td{
    vertical-align: middle !important;
    .version_link_iTunes {
      border-radius: 5px;
      padding: 3px 12px 4px 12px;
      line-height: 28px;
      font-size: 15px;
      border: 1px solid #1e87f0;
      color: #1e87f0;
    }
    .version {
      font-size: 10px;
      color: grey;
    }
    .version_name {
      font-size: 14px;
    }
    .version_logo {
      width: 150px;
    }
  }
}
.head {
  color: aliceblue;
  margin-top: 15px;
  margin-bottom: 12px;
}
.headbar {
  background: #721012;
  margin-bottom: -1px;
}
html{
  position: initial !important;
}
.tabbable{
  margin-top:10px;
  .nav-tabs{
    width: 99.9%;
    li{
      width:50%;
      text-align: center;
    }
  }
}
