@font-face {
  font-family: 'Roboto';
  src:  url("../fonts/RobotoRegular/RobotoRegular.ttf") format('truetype'),
  url("../fonts/RobotoRegular/RobotoRegular.eot"),
  url("../fonts/RobotoRegular/RobotoRegular.woff") format('woff');
}
@font-face {
  font-family: 'RobotoLight';
  src:  url("../fonts/RobotoLight/RobotoLight.ttf") format('truetype'),
  url("../fonts/RobotoLight/RobotoLight.eot"),
  url("../fonts/RobotoLight/RobotoLight.woff") format('woff');
}
@font-face {
  font-family: 'RobotoBold';
  src:  url("../fonts/RobotoBold/RobotoBold.ttf") format('truetype'),
  url("../fonts/RobotoBold/RobotoBold.eot"),
  url("../fonts/RobotoBold/RobotoBold.woff") format('woff');
}
@font-face {
  font-family: 'RobotoMedium';
  src:  url("../fonts/RobotoMedium/RobotoMedium.ttf") format('truetype'),
  url("../fonts/RobotoMedium/RobotoMedium.eot"),
  url("../fonts/RobotoMedium/RobotoMedium.woff") format('woff');
}
