.form-group .error {
    color: #a94442 !important;
}
.followers-stats-list {
    list-style: none;
    float: left;
    margin-top: 30px;
    margin-left: 35px;
}
.followers-stats-list li {
    float: left;
    margin-right: 10px;
    min-width: 85px;
}
span.follower-stat-count {
    display: block;
    text-align: center;
    font-size: 20px;
}
span.follower-stat-title {
    text-align: center;
    display: block;
}

/* Create event */
.create_event_modal .modal-dialog .modal-body {
    padding: 0;
}
.step-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}
.create-event-step {
    min-height: 250px;
    padding-bottom: 140px;
    background-color: #f5f5f5;
}
ul.step-1-form-elements {
    width: 100%;
    list-style: none;
}
.step-1-form-elements li {
    float: left;
    border-right: 1px solid lightgray;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 105px;
}
.step-1-form-elements li.last {
    border: none;
}
span.step-1-form-elements-title {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.step-1-form-elements-title.money {
    font-weight: bold;
    font-size: 27px;
}
.step-2-box {
    padding: 15px;
}
.create-event-step .itemdiv.dialogdiv {
    width: 350px;
    background-color: #fff;
    margin-left: 110px;
}
#bootstrap-duallistbox-nonselected-list_select_users_box option, #bootstrap-duallistbox-selected-list_select_users_box option {
    background-repeat: no-repeat;
    padding-left: 35px;
    background-size: contain;
}
.step3-box {
    padding: 15px;
}
.step3-box-left {
    width: 49%;
    float: left;
    border-right: 1px solid #000;
    min-height: 225px;
    padding-right: 5px;
}
.step3-box-right {
    width: 49%;
    float: left;
    min-height: 225px;
    padding-left: 5px;
}
.step3-line {
    width: 100%;
    float: left;
}
.step3-you-avatar {
    width: 50px;
    float: left;
}
.step3-border-box {
    width: 200px;
    min-height: 80px;
    border: 1px solid #000;
    float: right;
}
.step3-border-box-other {
    width: 200px;
    min-height: 80px;
    border: 1px solid #000;
    float: left;
}
span.you-nickname, .other-nickname {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
    display: block;
    color: #5293c4;
}
span.you-event-name, .other-event-name {
    margin-left: 10px;
}
span.you-event-variant, .other-event-variant {
    margin-left: 10px;
}
span.your-win-amount-title, .other-win-amount-title {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
}
span.your-win-amount, .other-win-amount {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
span.your-defiance, .other-defiance {
    margin-top: 10px;
    display: inline-block;
    margin-right: 30px;
}
span.your-defiance-val, .your-coefficient-val, .other-coefficient-val, .other-defiance-val {
    font-weight: bold;
    font-size: 14px;
}
.step3-line-left {
    float: left;
    width: 200px;
    min-height: 150px;
}
.step3-line-right {
    float: right;
    width: 70px;
}
.step3-first-other-avatar {
    margin-left: 5px;
    margin-top: 10px;
}
.step3-last-other-avatar {
    float: left;
    margin-top: 5px;
}
/* End create event */

/* My List */

.mylist-left-box-title {
    font-size: 25px;
    border-bottom: 1px solid #000;
    padding-top: 25px;
}
span.mylist-events-title {
    text-align: right;
    font-size: 18px;
    padding-top: 15px;
    display: block;
    width: 100%;
}
.assortment-events-variant {
    text-align: center;
    cursor: pointer;
}
.assortment-events-item {
    border: 1px solid #000;
    margin-bottom: 15px;
}
.assortment-events-header {
    border-bottom: 1px solid #000;
    padding: 5px;
    font-size: 15px;
}
.assortment-events-variant.left {
    border-right: 1px solid #000;
    color: #0033FF;
}
.assortment-events-variant {
    font-size: 17px;
    padding: 5px;
    color: #CC0033;
}
.mylist-defiance-box {
    margin-top: 15px;
    border: 1px solid #000;
    float: left;
    width: 100%;
    margin-bottom: 10px
}
.mylist-defiance-box-footer {
    float: left;
    width: 100%;
    padding: 15px;
}
.mylist-defiance-box-header {
    float: left;
    width: 100%;
    padding: 5px;
}
.mylist-defiance-avatar {
    width: 32px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.mylist-defiance-userinfo {
    float: left;
    width: 170px;
    margin-top: 2px;
    font-size: 14px;
}
.mylist-defiance-box-eventinfo {
    float: left;
    width: 100%;
    background-color: lightgray;
    padding: 5px;
}
.mylist-defiance-box-users {
    float: left;
    width: 100%;
    min-height: 230px;
    height: 230px;
    background-size: contain;
}
.mylist-defiance-box-variants {
    float: left;
    width: 100%;
}
.mylist-defiance-box-eventinfo-variant-a {
    width: 50%;
    float: left;
    background-color: #448dc7;
}
.mylist-defiance-box-eventinfo-variant-a span, .mylist-defiance-box-eventinfo-variant-b span {
    color: #fff;
}
.mylist-defiance-box-eventinfo-variant-b {
    width: 50%;
    float: left;
    background-color: #d05c4c;
}
.mylist-defiance-box-eventinfo-variant-a span, .mylist-defiance-box-eventinfo-variant-b span {
    padding: 10px;
    padding-left: 45px;
    display: block;
}
span.mylist-defiance-box-footer-left {
    float: left;
}
span.mylist-defiance-box-footer-right {
    float: right;
}
span.mylist-defiance-box-eventinfo-datetime {
    float: right;
}
span.mylist-defiance-box-eventinfo-name {
    float: left;
}
.mylist-creator-box {
    width: 140px;
    margin-top: 50px;
    margin-left: 55px;
    float: left;
}
.mylist-acceptor-box {
    width: 140px;
    margin-top: 50px;
    margin-left: 90px;
    float: left;
}
.mylist-creator-box img, .mylist-acceptor-box img {
    border: 1px solid #fff;
}
.mylist-creator-rate {
    width: 60px;
    min-height: 60px;
    height: 60px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 55px;
    margin-left: 59px;
    border: 1px solid #448dc7;
}
.mylist-acceptor-rate {
    width: 60px;
    min-height: 60px;
    height: 60px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 55px;
    margin-left: -25px;
    border: 1px solid #448dc7;
}
.mylist-accept-defiance {
    cursor: pointer;
}
span.mylist-creator-rate-amount {
    margin-top: 15px;
    display: block;
    margin-left: 5px;
    color: #000;
    font-weight: bold;
}
span.mylist-creator-rate-coeff {
    margin-left: 15px;
}

/* End My List */